.encabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.encabezado1{
    display: flex;
    flex-direction: row;
}

.th{
    margin-right: 20px;
}

.inicio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.icons{
    margin-left: 20px;
}